
@use postcss-custom-media;
@use postcss-nested;

body {
	padding: 15px;
	list-style-type: none;
}

.Legend-colorBox {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: rgb(155, 187, 88);
	list-style-type: none;
}

.Legend-label{
	font-size: 10px;
}
	